@{
	ViewData["Title"] = "Course Details";
}
<div class="mainBg px-90 pt-129 pb-143">
	<div class="d-flex align-items-center gap-18 bg-white rounded-3 p-15-99 textMain">
		<div>
			<div class="fw-bold text-45 mb-4">Front-End Development</div>
			<div class="fw-medium text-26 mb-3">Your career in web development starts here. Fast-track learning and interview prep. Grow skills at your own pace. Expand your earnings potential.</div>
			<div class="d-flex align-items-center gap-3">
				<div>
					<div class="d-flex align-items-center">
						<i class="bg-info bi-star text-yellow text-24"></i>
						<div class="fw-bold text-18">4.7</div>
					</div>
					<div class="fw-medium text-sm-start">average course rating</div>
				</div>
				<div>
					<div class="d-flex align-items-center">
						<div class="fw-bold text-18">126</div>
					</div>
					<div class="fw-medium text-sm-start">practice exercises</div>
				</div><div>
					<div class="d-flex align-items-center">
						<div class="fw-bold text-18">87.6</div>
					</div>
					<div class="fw-medium text-sm-start">hours of content</div>
				</div>
			</div>
			<div class="d-flex align-items-center gap-4 justify-content-start">
				<button class="border-0 mainBg">Get started</button>
				<div class="d-flex align-items-center gap-1">
					<div class="fw-bold text-18">$29.97</div>
					<div class="text-decoration-line-through">$224.97</div>
				</div>
			</div>
			<div class="d-flex align-items-center gap-2 textGray">
				<i class="bg-info bi-people"></i>
				<div>1,485,530 learners already enrolled</div>
			</div>
		</div>
		<div>
			<img src="https://thispersondoesnotexist.com" alt="Course image" class="imageSizeBig img-fluid rounded-5 shadow-sm">
		</div>
	</div>
</div>