@{
	ViewData["Title"] = "Home Page";
}

<div class="mainBg w-100 welcomingDiv">
	<div>
		<div class="textMain fw-medium text-40 max-w-50per">Set up your own bootcamp with <span class="text-yellow">“KODLA”</span> and carry the tradition of teaching and learning into the future.</div>
		<div class="d-flex">
			<button class="darkBtn fw-bold">Join Bootcamp</button>
			<button class="btnRegister bg-light rounded fw-bold fs-6 h-62 text-22">Become Our Trainer</button>
		</div>
	</div>
	<div>
		<img src="~/images/g12.svg" alt="Welcoming page photo" class="img-fluid welcomingPhoto" />
	</div>
</div>


<div class="mx-auto w-full pt-129 pb-143 text-center">
	<div class="px-370">
		<div class="textLightPurple text-45 fw-bold pb-11">Training camps</div>
		<div class="textGray text-22 fw-medium pb-67">Let's set up online camps and bring the joy of learning with the community to the digital world. Don't miss this opportunity as the world becomes digital.</div>
	</div>
	<div class="px-90 d-flex gap-5 align-items-start">
		<div class="d-flex flex-column max-w-33per align-items-center">
			<img class="imageSizes pb-1" src="~/images/Group13.svg" alt="" />
			<div class="textGray fw-medium text-18">
				<span class="textLightPurple fw-bold text-24">Training camps</span>
				<div>
					Let's create a big learning community
					with trainers and trainees.
				</div>
			</div>
		</div>
		<div class="d-flex flex-column max-w-33per align-items-center">
			<img class="imageSizes pb-1" src="~/images/Group14.svg" alt="" />
			<div class="textGray fw-medium text-18">
				<span class="textLightPurple fw-bold text-24">24/7 Online Access</span>
				<div>Follow the activities at the camp, watch the lessons, find solutions to questions with the community, participate in the events and experience active learning.</div>
			</div>
		</div>
		<div class="d-flex flex-column max-w-33per align-items-center">
			<img class="imageSizes pb-1" src="~/images/Group15.svg" alt="" />
			<div class="textGray fw-medium text-18">
				<span class="textLightPurple fw-bold text-24">Online Badges and Certificate</span>
				<div>Complete your training successfully, win our awards, and get closer to your career goals.</div>
			</div>
		</div>
	</div>
</div>


<div class="mx-auto w-full pb-143 text-center">
	<div class="px-90">
		<div class="textLightPurple text-45 fw-bold pb-11">POPULAR camps</div>
		<div class="position-relative">
			<div class="textGray text-22 fw-medium">Easily find the camp on the topic you want and start learning.</div>
			<a asp-controller="Categories" asp-action="Index" class="link-none text-decoration-none position-absolute end-0 bottom-0 textLightPurple text-20 fw-bold">Look More</a>
		</div>
	</div>
	<div class="d-grid grid-template-cols-3 px-90 pt-66">
		<div class="d-flex align-items-center gap-18">
			<img src="~/images/Group55.svg" class="smallImg" alt="" />
			<div>
				<div class="text-26 fw-bold textLightPurple pb-12 text-start">Beginner Friendly</div>
				<div class="text-22 fw-medium textGray text-start">5 available camps</div>
			</div>
		</div>
		<div class="d-flex align-items-center gap-18">
			<img src="~/images/Group55.svg" class="smallImg" alt="" />
			<div>
				<div class="text-26 fw-bold textLightPurple pb-12 text-start">Web Development</div>
				<div class="text-22 fw-medium textGray text-start">5 available camps</div>
			</div>
		</div>
		<div class="d-flex align-items-center gap-18">
			<img src="~/images/Group55.svg" class="smallImg" alt="" />
			<div>
				<div class="text-26 fw-bold textLightPurple pb-12 text-start">Cloud & DevOps</div>
				<div class="text-22 fw-medium textGray text-start">4 available camps</div>
			</div>
		</div>
		<div class="d-flex align-items-center gap-18">
			<img src="~/images/Group55.svg" class="smallImg" alt="" />
			<div>
				<div class="text-26 fw-bold textLightPurple pb-12 text-start">Data & AI</div>
				<div class="text-22 fw-medium textGray text-start">5 available camps</div>
			</div>
		</div>
		<div class="d-flex align-items-center gap-18">
			<img src="~/images/Group55.svg" class="smallImg" alt="" />
			<div>
				<div class="text-26 fw-bold textLightPurple pb-12 text-start">App & Game Dev</div>
				<div class="text-22 fw-medium textGray text-start">4 available camps</div>
			</div>
		</div>
		<div class="d-flex align-items-center gap-18">
			<img src="~/images/Group55.svg" class="smallImg" alt="" />
			<div>
				<div class="text-26 fw-bold textLightPurple pb-12 text-start">Cybersecurity</div>
				<div class="text-22 fw-medium textGray text-start">4 available camps</div>
			</div>
		</div>
		<div class="d-flex align-items-center gap-18">
			<img src="~/images/Group55.svg" class="smallImg" alt="" />
			<div>
				<div class="text-26 fw-bold textLightPurple pb-12 text-start">Computer Science Core</div>
				<div class="text-22 fw-medium textGray text-start">4 available camps</div>
			</div>
		</div>
		<div class="d-flex align-items-center gap-18">
			<img src="~/images/Group55.svg" class="smallImg" alt="" />
			<div>
				<div class="text-26 fw-bold textLightPurple pb-12 text-start">
					Career Focused
				</div>
				<div class="text-22 fw-medium textGray text-start">5 available camps</div>
			</div>
		</div>
		<div class="d-flex align-items-center gap-18">
			<img src="~/images/Group55.svg" class="smallImg" alt="" />
			<div>
				<div class="text-26 fw-bold textLightPurple pb-12 text-start">Product & Project Management</div>
				<div class="text-22 fw-medium textGray text-start">10 available camps</div>
			</div>
		</div>
	</div>
</div>


<div class="mx-auto w-full pb-143 text-center">
	<div class="px-90">
		<div class="textLightPurple text-45 fw-bold pb-78">FREE EDUCATION</div>
	</div>
	<div class="d-flex align-items-start mx-auto gap-150 max-w-1000">
		<div class="max-w-450 d-flex flex-column align-items-center">
			<img class="imageSizes pb-30" src="~/images/Group122.svg" alt="" />
			<div class="text-22 fw-medium textGray pb-12">Get rid of unchanging, boring curriculums and create your own system. Experience the excitement and pleasure of providing education freely.</div>
			<button class="border-0 mainBg textMain text-22 fw-bold p-15-99 rounded-3">Become Our Trainer</button>
		</div>
		<div class="max-w-450 d-flex flex-column align-items-center">
			<img class="imageSizes pb-30" src="~/images/Group97.svg" alt="" />
			<div class="text-22 fw-medium textGray pb-12">Experience learning by becoming part of our community. Produce, develop, design, and earn with what you have learned.</div>
			<button class="border-0 yellowBg textLightPurple text-22 fw-bold p-15-99 rounded-3">Join the Camp</button>
		</div>
	</div>
</div>
